.tabledata{
    display: flex;
    flex-direction: column;

}

.itemimage{
    height: 10rem;
    width: 10rem;
  
}

.headers{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5rem;
}


thead{
    display: flex;
}

.rows{
    display: flex;
    justify-content: center;
    gap: 2rem;
}