.nav {
  display: flex;
  list-style: none;
  justify-content: space-around;
  background-color:grey;

}

.nav ul {
  width: 100vw;
  margin: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: rgb(93, 76, 76);
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;

}

.nav ul li {
  background-color: #242424;
  padding-left: 5rem;
  padding-right: 5rem;
}


.cartimage {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(208deg) brightness(115%) contrast(98%);
}