.Title {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.shoes {
    margin: 0.5%;
    height: 30rem;
    width: 48vw;
}

.clothes {
    margin: 0.5%;
    height: 30rem;
    width: 48vw;

}

.perproduct {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}



.inputfield {
    width: 80%;
    align-self: center;
}

.extra {
    margin: 0.5%;
    height: 40rem;
    width: 97vw;

}


.productWrapper {
    list-style: none;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

}

.cards {
    height: 25rem;
    width: 25rem;
}


.inputwrapper {
    display: flex;
}