.Title {
    display: flex;
    justify-content: center;
    margin: 1rem;
    font-family: "Work Sans", sans-serif;

}

.shoes {
    margin: 0.5rem;
    height: 30rem;
    width: 48vw;
    border-radius: 12px;
}

.clothes {
    margin: 0.5rem;
    height: 30rem;
    width: 48vw;
    border-radius: 12px;


}

.perproduct {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}



.inputfield {
    width: 80%;
    align-self: center;
}

.extra {
    margin: 1rem;
    height: 40rem;
    width: 97vw;
    border-radius: 12px;

}


.productWrapper {
    list-style: none;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

}

.cards {
    height: 25rem;
    width: 25rem;
}


.inputwrapper {
    display: flex;
}

.price{
    margin:1rem;
    font-weight: bold;
}